

@media only screen and (max-width: 992px) {
.slider-text p {
    font-size: 50px;
}   
#who-are-we .who-text {
    margin-top: 100px;
}
#counterup .count h3 {
    font-size: 20px;
}
.contact-form .btn {
    margin-left: -60px;
}
}
@media only screen and (max-width: 768px) {  
.slider-text p {
    font-size: 44px;
}
#services .service-item {
    margin-top: 40px;
    margin-bottom: 40px;
}
#services .modal-body .modal-img {
    width: 100%;
    float: none;
    text-align: center;
}
#services .modal-body .modal-text {
    width: 100%;
    float: none;
}
footer p {
    text-align: center;
}
footer .social {
    text-align: center;
}
#our-team .team-member{ 
    margin-top: 30px;
    margin-bottom: 30px;
}
#google-map {
    height: 950px;
}
.contact-form .btn {
     margin-left: 0px;
}
.address {
    margin-top: 108px;
}
}
@media only screen and (max-width: 640px) {
.slider-text p {
    font-size: 35px;
    line-height: 45px;
}

}
@media only screen and (max-width: 480px) {
.slider-text {
    left: 20px;
}
.slider-text p {
    font-size: 25px;
    line-height: 30px;
}
.slider-text span {
    font-size: 10px;
}
#top-header .top-heading {
    max-width: 240px;
}
#top-header .top-heading h1 {
    line-height: 80px;
    font-size: 28px;
}
#our-team .team-member .mem-img {
    width: 100%;
    float: none;
    text-align: center;
    padding-top: 62px;
}
#our-team .team-member .mem-info {
    width: 100%;
    float: none;
    padding-left: 20px;
}
}
@media only screen and (max-width: 380px) {

.slider-text {
    padding: 15px;
}
.slider-text p {
    font-size: 18px;
    line-height: 23px;
}
.slider-text span {
    font-size: 10px;
}

#who-are-we {
    padding-top: 110px;
}
#who-are-we .who-img {
    padding: 30px;
}

#who-are-we .who-text {
    margin-top: 70px;
}
#who-are-we .who-text h2 {
    font-size: 28px;
}
#services h2 {
    font-size: 28px;
}
#top-header .top-heading {
    max-width: 205px;
}
#our-team .team-member .mem-img {
    padding-top: 20px;
}
.address {
    width: 260px;
}
}
